.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  perspective: 400px;
  border-style: none;
  flex-wrap: nowrap;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.card-front {
  background-color: #6d67aa;
  color: #1e1861;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: #5c5b75;
  color: #6f67c2;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer */
a {
  font-size: 1.15rem;
}
header,
footer {
  border-top: 2px solid #a286bd;
  background-color: #6e5f7c;
  color: white;
  text-align: center;
  padding: 1rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#ttechLink {
  color: white;
}
@media screen and (max-width: 820px) {
  .cards {
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* Nav */
nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #6e5f7c; /* 4 */
}
nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}
nav li {
  padding-left: 1rem; /* 7! */
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav h2 {
  color: #fff;
}
footer a {
  color: #a286bd;
}
