.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  perspective: 400px;
  border-style: none;
  flex-wrap: nowrap;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.card-front {
  background-color: #6d67aa;
  color: #1e1861;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: #5c5b75;
  color: #6f67c2;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  color: #6e5f7c;
  border: solid #a286bd 2px;
  padding: 0.5rem;
  border-radius: 6px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #5c5b75;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.card a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #6d67aa;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* footer */
a {
  font-size: 1.15rem;
}
header,
footer {
  border-top: 2px solid #a286bd;
  background-color: #6e5f7c;
  color: white;
  text-align: center;
  padding: 1rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#ttechLink {
  color: white;
}
@media screen and (max-width: 820px) {
  .cards {
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* Nav */
nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #6e5f7c; /* 4 */
}
nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}
nav li {
  padding-left: 1rem; /* 7! */
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav h2 {
  color: #fff;
}
footer a {
  color: #a286bd;
}
